streamlit==1.38.0
python-dotenv==1.0.1
langchain==0.3.7
langchain-core==0.3.14
langchain-community==0.3.5
langchain-groq==0.1.4
groq==0.13.0
pydantic==2.9.2
requests==2.32.3
SQLAlchemy==2.0.32
tenacity==9.0.0
numpy
pandas
